*{
    padding:0px; margin:0px;

}
header{
    width: 100%;height: 90px;background-color: cornflowerblue;position: sticky;top: 0;padding: 20px;
}
header h1{
    color: white;letter-spacing: 2px;font-weight: 900;font-size:70px;padding: 5px;
    text-shadow: 2px 2px 8px black;
}
nav{
    width: 100%;height: 60px;background-color: cornflowerblue;display: flex;justify-content: center;align-items: center;
}
nav ul{
        display: flex;
    }
nav ul li a{
        display: flex;margin: 120px;text-decoration: none;
        color: white;font-weight: bold;font-size: 50px;
    }
nav ul li a:hover{
        color:red;
        
}
video{
    width:100%;
}.overlay{
    position: absolute;top: 50%;left: 30%;
}
#head1{
    color:red;
    font-weight:900;text-shadow: 2px 2px 10px white;letter-spacing: 4px;
    font-size: 80px;margin-left: -450px;
}
.row1{
    width: 100%;height: 900px;background-color: cornflowerblue;display: flex;justify-content: center;
}
.cola
{
    width: 400px;height: 600px;margin: 40px; background-color: aliceblue;
    box-shadow: 2px 2px 8px red;margin-top: 150px;
}
img{
    width: 100%;height: 280px;
}
h3{
    color: black;font-weight: 900;text-align: center;font-size: 40px;
}
h4{
   color: rgb(55, 53, 53);font-weight: 800;text-align: center;font-size: 40px;
}
h5{
    color: black;font-weight: 700;text-align: center;text-decoration: underline;
    font-size: 30px;
}
h2{
    color: black;font-weight: bold;font-size: 70px;text-align: center;
}
.rowb{
    width: 100%;height: 980px;background-color: cornflowerblue;display: flex;justify-content: center;
}
.colb
{
    width: 500px;height: 700px;margin: 60px; background-color: aliceblue;
    box-shadow: 2px 2px 16px black;padding: 10px;
}.rowc{
    width: 100%;height: 900px;background-color: cornflowerblue;display: flex;justify-content: center;
}
.colc
{
    width: 500px;height: 700px;margin: 60px; background-color: aliceblue;
    box-shadow: 2px 2px 16px black;padding: 10px;
}
#ha{
    color: black;font-size: 45px;font-weight: 900;text-align: center;
}
#hb{
    color: crimson;font-size: 40px;font-weight: 800;text-align: center;
}
#hc{
    color: black;font-size: 45px;font-weight: 700;text-align: center;text-decoration: none;
}
.rowc1{
    background-color:white;width: 100%;height: 700px;display: flex;justify-content: center;
}
.colg1{
    background-color:white;width: 300px;height: 500px;margin: 20px;
}
li{
    color: white;font-weight: 700;font-size: 30px;text-decoration: none;
}
#head3a{
    color:black ;font-weight:bolder;font-size: 50px;text-align: start;
}
#para3{
    text-align: center;text-decoration: underline;font-weight: bolder;font-size: 70px;
}
button{
    color:black;background-color:rgb(179, 175, 175);padding: 15px;font-size: 35px;
    margin:10px;border-radius: 20px;padding: 10px;
}
button:hover{
    background-color:blue;color:white;
}
@media screen and (max-width:400px){
    body{
        padding: 0px;margin: 0px;
    }
    header{
        height: 80px;width:1560px;
    }
    header h1{
        font-size: 80px;
    }
    nav{
        width: 100%;height: 100px;background-color: cornflowerblue;display: flex;justify-content: center;margin-left: -30px;
    }
    nav ul{
            display: flex;
        }
    nav ul li a{
            display: flex;margin: 120px;text-decoration: none;
            color: white;font-weight: bold;font-size: 50px;margin-right:10px ;
        }
    nav ul li a:hover{
            color:red;
            
    }
    video{
        width:1600px;
    }.overlay{
        position: absolute;top: 100%;left: 150%;width: 600px;
    }
    #head1{
        color:red;
        font-weight:900;text-shadow: 2px 2px 10px white;letter-spacing: 2px;
        font-size: 80px;margin-left: -450px;
    }
    .row1{
        width: 1600px;height: 900px;background-color: cornflowerblue;display: flex;justify-content: center;
        border-radius: 100px;
    }
    .cola
    {
        width: 400px;height: 600px;margin: 40px; background-color: aliceblue;
        box-shadow: 2px 2px 8px red;margin-top: 150px;
    }
    img{
        width: 100%;height: 280px;
    }
    h3{
        color: black;font-weight: 900;text-align: center;font-size: 40px;
    }
    h4{
       color: rgb(55, 53, 53);font-weight: 800;text-align: center;font-size: 40px;
    }
    h5{
        color: black;font-weight: 700;text-align: center;text-decoration: underline;
        font-size: 30px;
    }
    .rowb{
        width: 1600px;height: 980px;background-color: cornflowerblue;display: flex;justify-content: center;
        border-radius: 100px;
    }
    .colb
    {
        width: 500px;height: 700px;margin: 60px; background-color: aliceblue;
        box-shadow: 2px 2px 16px black;padding: 10px;
    }.rowc{
        width: 1600px;height: 900px;background-color: cornflowerblue;display: flex;justify-content: center;
        border-radius: 100px;
    }
    .colc
    {
        width: 500px;height: 700px;margin: 60px; background-color: aliceblue;
        box-shadow: 2px 2px 16px black;padding: 10px;
    }
    #ha{
        color: black;font-size: 45px;font-weight: 900;text-align: center;
    }
    #hb{
        color: crimson;font-size: 40px;font-weight: 800;text-align: center;
    }
    #hc{
        color: black;font-size: 45px;font-weight: 700;text-align: center;text-decoration: none;
    }
    #para3{
      font-weight: bolder;font-size: 90px;margin-right: 700px;
      
    }
    .rowc1{
        background-color:white;width: 1600px;height: 700px;display: flex;justify-content: center;
    }
    .colg1{
        background-color:white;width: 300px;height: 500px;margin: 20px;
    }
    li{
        color: white;font-weight: 700;font-size: 30px;text-decoration: none;
    }
    #head3a{
        color:black ;font-weight:bolder;font-size: 50px;text-align: start;
    }
    #para3{
        text-align: center;text-decoration: underline;font-weight: bolder;font-size: 90px;
        margin-right: -1200px;
    }
    h2{
        height: 100px;margin-left: 600px;width: 500px;font-size: 80px;
    }
    button{
        color:black;background-color:rgb(179, 175, 175);padding: 15px;font-size: 35px;
        margin:10px;border-radius: 20px;padding: 10px;
    }
    button:hover{
        background-color:blue;color:white;
    }
    
}